<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>open_rental</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/open_rental.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
   <header>
    <div class="hp_navbar">
      <img class="hp_navimg" src="{% static 'IMAGES/logo.png' %}">
    </div>
    <div class="nav_items">
      <div class="home hidenav"><a href="http://127.0.0.1:8000/newhome">Home</a></div>
      <div class="register hidenav"><a href="http://127.0.0.1:8000/search">Search</a></div>
      <div class="login hidenav"><a href="http://127.0.0.1:8000/show_rental/">MyBooks</a></div>
      <div class="login hidenav"><a href="">MyProfile</a></div>
      <div class="menu_button" onclick= showSidebar() ><a href="#"><i class="fa-solid fa-list"></i></a></div>
    </div>
  </header>

  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar')
      sidebar.style.display = 'flex'
    }
    function hideSidebar(){
        const sidebar = document.querySelector('.sidebar')
        sidebar.style.display = 'none'
    }
  </script>

   <header class="res_nav sidebar">
    <div class="r_navbar">
     <p onclick=hideSidebar()> <i class="fa-solid fa-xmark"></i></p>
    </div>
    <div >
     <ul class="bar"> 
      <li class="home"><a href="http://127.0.0.1:8000/newhome">Home</a></li>
      <li class="register"><a href="http://127.0.0.1:8000/search">Search</a></li>
      <li class="login"><a href="">MyBooks</a></li>
      <li class="login"><a href="">MyProfile</a></li>

    <ul>
    </div>
  </header>
  


  <section>
    <div class="op_description">
        <div class="op_items">
           <div class="op_item1">
             <img src="{{book.img_url}}" class="opimg_2" >
           </div>
           <div class="op_item2">
             <div class="i1">
                <p>Title : {{book.title}}</p>
             </div>
             <div class="i2">
                <p>Author : {{book.author}}</p>
             </div>
             <div class="i3">
                <p> Year : {{book.year}}</p>
             </div>
             <div class="i4">
                <p>Category : {{book.category}}</p>
             </div>
             <div class="i5">
                <p>Cost : <i class="fa-solid fa-indian-rupee-sign"></i> {{book.cost}}</p>
             </div>
             <div class="opbook_issue">
                <button type="submit" name="book_issue"><a href="http://127.0.0.1:8000/add_rental/{{book.id}}" style="color:black">Rent The Book</a></button>
             </div>
             <div class="error_message" style="color:red">{{error_message}}</div>
             <div class="success_message" >{{success_message}}</div>


           </div>
        </div>
    </div>
  </section>
   
  <footer>
    <div class="contact">
     <div class="ending1">
      <div class="i3">
        <h1>Contact Us</h1>
      </div>
      <div class="i4">
        <h2><i class="fa-solid fa-phone-volume"></i> 9345623180</h2>
      </div>
      <div class="i4">
        <h2><i class="fa-solid fa-envelope"></i> heyylibrary@gmail.com</h2>
      </div>
     </div>  
      <div class="ending2">
        <div>
          <img class="hp_navimg" src="{% static 'IMAGES/logo.png' %}">
        </div>
        <div class="i5">
        
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div><i class="fa-brands fa-facebook"></i></div>
        <div><i class="fa-brands fa-twitter"></i></div>
      </div>
    </div>
    </div>
  </footer>

</body>
</html>