*{
        margin: 0;
    padding: 0;
}
    
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;

}
header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar li{
    width: 100%;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
}
a{
    text-decoration: none;
    color:white;
}


/* profile page styling */

.myprofile_main_div{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.div1{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divbox2{
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:95%;
    margin: 20px;
 
    
    padding: 3%;
     box-sizing: border-box;
}
.profile_heading{
      font-family:  'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.divbox3{
     color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:500px
    ;
    margin: 20px;
 
    
    padding: 3%;
     box-sizing: border-box;
}
.divbox3_h1{
     font-family:  'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
   

}
.user_details{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}
.profile_button{
    padding: 10px;
    font-size: 20px;
    background-color: gold;
    color: black;
    box-sizing: border-box;
    border-radius: 20px;
    
}
.profile_button:hover{
    background-color:black;
    border: 2px solid white;
    color: white;
}

@media (min-width:100px) and (max-width:1200px){
.profile_heading{
      font-family:  'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}
.divbox2{
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:95%;
    margin: 20px;
 
    
    padding: 5%;
     box-sizing: border-box;
}
}

@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}