*{
        margin: 0;
    padding: 0;
}
    
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;

}
header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 1, 94, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{

    display: flex;
    flex-direction: column;

}
 a{
    text-decoration: none;
    color: white;
}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar li{
    width: 100%;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
}

/* main section */

.op_description{
   
   
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
   
}
.op_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border: 4px solid white;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    width:60%;
    height:fit-content;
    color: white;
    padding: 4rem;
    margin: 2%;
    box-sizing: border-box;

}

.opimg_2{
    width: 300px;
    height:400px;
    border:2px solid white;
    padding:10px
}

.op_item2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    gap:20px
   
}
.op_item2 div{
    font-size: 30px;

}
button{
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    box-sizing: border-box;
  

 
}
button:hover{
   box-shadow: 0 0 10px darkgreen;
}

.success_message{
    font-size: 20px;
    color:green,
}



/* footer section */

footer{
    width: 100%;
    height:250px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.i4{
   font-size: 17px;
   margin-top: 5px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.i5{
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}

@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}

@media (min-width:100px) and (max-width:1200px) {

  
 
footer{
    width: 100%;
    height:200px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.i4{
   font-size: 13px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.i5{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}
.hp_navimg{
    width:200px;
    height:90px;
}
.op_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border: 4px solid white;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    width:90%;
    height:fit-content;
    color: white;
    padding: 3rem;
    margin: 2%;
    box-sizing: border-box;
    flex-wrap: wrap;

}
.op_item2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    gap:20px
   
}
}
@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}