*{
        margin: 0;
    padding: 0;
}
    
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;

}
header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{

    display: flex;
    flex-direction: column;

}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar li{
    width: 100%;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
}



.main{
    display: flex;
    justify-content: center;
}
.main_intro{
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border: 4px solid white;
    border-radius: 30px;
    height:400px;
    width:95%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
   
}
.item1{
    margin-top: 80px;
    font-family:  'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}
h1{
    margin-bottom: 10px;
}
.item2{
    margin-top: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.item3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:white; 
}
.item4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:30px;
}
.books{
    background-color: rgba(0,0,0,0.5);
    width: 320px;
    height:550px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20PX;
    border-radius: 20px;
    gap:20px;
   
}
a{
    text-decoration: none;
    color:white;
}
.books:hover{
    border: 3px solid white;
}
.i1{
    border: 2px solid white;
}
.i2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
}

footer{
    width: 100%;
    height:300px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.i4{
   font-size: 20px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.i5{
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap:20px;
}


@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}