*{
    margin: 0;
    padding: 0;
}
    
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;

}

header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}
.nav_items a{
    text-decoration: none;
    color: white
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{

    display: flex;
    flex-direction: column;


}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar a{
    width: 100%;
    color: white;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
} 






/* new css for the register */
.l_register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.l_reg_box{

    width: 50%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding: 3rem; */
    border: 5px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    border-radius: 40px;

}

.reg_header{

   
   
    /* width:10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg_reg{
    background-color: white;
    color:black;
    padding: 20px;
    padding-left: 30px;
    padding-right:30px ;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    border-end-end-radius: 30px;
    border-end-start-radius: 30px;
    
}

.reg_inputs{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: fit-content;
    /* padding: 20px; */

}

.reg_form{
   width: 100%;
     font-size: 20px;
     display: flex;
     flex-direction: column;
     gap:20px;
     margin: 30px;
}

.reg_fn{

    /* width: 100%; */
    /* background-color: rgb(1, 1, 42); */
    border: none;
    padding: 5px;
   /* color: white; */
   width: 100%;
   font-size: 20px;
 
}
.reg_home_for_buttons{

    display: flex;
    gap: 10px;
    
   
   
}
.reg_button{
    width:30%;
    font-size: 20px;
    height: 40px;
    background-color: rgb(4, 4, 70);
    text-decoration: none;
    color: white;
    border-radius: 30px;
   



}
.reg_button:hover{
  
  border: 3px solid white;
}



@media (max-width: 800px){
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }

}
@media (min-width:100px) and (max-width: 1000px) {
    .reg_home_for_buttons{
        flex-wrap: wrap;
        gap:2px

    }
    .reg_button{
        width:100%
    }
    .l_reg_box{

    width: 70%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding: 3rem; */
    border: 5px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    border-radius: 40px;

}

}
