*{
        margin: 0;
    padding: 0;
}
    
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;

}
header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar li{
    width: 100%;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
}
a{
    text-decoration: none;
    color:white;
}

/* main section */

.rui_books{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.rui_heading{
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:87%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 3%;
   
}
.h_rui1{
    
    font-family:  'Courier New', Courier, monospace;
    font-size: 28px;
    text-align: center;
}

.h_rui2{
    /* margin-top: 20px; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
   padding-left: 100px;
   padding-right: 100px;
   
}

.book_issued {
    width: 92%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    /* padding: 10px; */
}

.book_issued h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

.items {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    /* border-radius: 20px; */
    background-color:rgba(0,0,0,0.5);
    color: white;
    
}

.header, .item1 {
    display: flex;
}

.header {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}

.cell {
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.item1:nth-child(even) {
    background-color:rgba(0,0,0,0.5);
    color: white;
}

.item1:hover {
    background-color: #f1f1f1;
    color: black;
}

.return-btn {
    padding: 6px 12px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.return-btn:hover {
    background-color: #e62a00;
}

.returned-box {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
}







/* footer section */

footer{
    width: 100%;
    height:250px;
    background-color: rgba(0,0,0,0.5);
    color:white;
   
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.i4{
   font-size: 17px;
   margin-top: 5px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.i5{
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}

@media (min-width:100px) and (max-width:1200px) {

  


footer{
    width: 100%;
    height:200px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.i4{
   font-size: 13px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.i5{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}
.hp_navimg{
    width:200px;
    height:90px;
}
}

@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}