*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../IMAGES/cover1.jpg") ;
    background-size:contain;
    background-repeat:repeat;
  
}
header{
    display: flex;
    justify-content: space-between;
}
.hp_navimg{
    color:white;
    width: 100%;
    height: 100px;
    padding-left: 15px;
    
}
.nav_items{
    color:white;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    padding-right:50px ;
}

.res_nav{

    display: flex;
    justify-content: space-between;
     width:100%
}
.res_nav ul{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    list-style: none;

}
.res_nav li{
    height: 50px;
   
}
.res_nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 255, 0.14);
    box-shadow: -10px 0 10px rgb(8, 2, 2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.bar{

    display: flex;
    flex-direction: column;

}
 a{
    text-decoration: none;
    color: white;
}
.sidebar li:hover{
    background-color: rgba(240, 248, 255, 0.379);
    color: darkblue;
}
.bar li{
    width: 100%;
}
.r_navbar{
    font-size: 30px;
    color:white;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.menu_button{
    display:none;
}




.search_main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Search_main_items{
   
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:95%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 3%;
     box-sizing: border-box;
}
.search_heading{
     font-family:  'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.search_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
}
.form_search{
    display: flex;
    gap:2px;
    width: 80%;
}

.form_search input{
     width: 100%;
     padding: 10px;
     font-size: 30px;
     border-radius: 10px;
     height: fit-content;
   
}

.search_icon{
   
    display: flex;
    justify-content: center;
    align-items: center;
   

  
}
.search_icon div{

    width:fit-content;
    height: fit-content;
    background-color: white;
    color:rgb(23, 23, 103);
    font-size: 42px;
    padding: 3px;
    margin-top: 2px;
  
    border-radius: 3px;

}
button{
     background-color: rgb(20, 20, 92);
     color: white;
     padding: 10px;
     width: 150px;
     height: fit-content;
     /* padding: 10px; */
     font-size: 30px;
     border-radius: 10px;
     box-sizing: border-box;
     /* box-shadow: 0 0 5px white; */
}
button:hover{
    border: 3px solid white;
}

.search_main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/* .item3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:white; 
} */
.search_item4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:30px;
  
}
.search_books{
   
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    width:320px;
    height:450px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20PX;
    border-radius: 20px;
    gap:20px;
    box-sizing: border-box;
    padding: 35px;
    
    margin-bottom: 40px;
    transition: transform 0.3s ease-out;
   
}
.search_item4 a{
    text-decoration: none;
    color:white;
}
.search_books:hover{
    border: 3px solid white;
     transform: scale(1.1);
}
.SI_i1{
    border: 2px solid white;
}
.SI_i2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: center;
}
.search_image{
     height:300px;
     width:230px;
}

footer{
    width: 100%;
    height:200px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.ending1{
    padding-top: 40px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.i3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.i4{
   font-size: 13px;
}
.ending2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.i5{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:20px;
   
}
.hp_navimg{
    width:200px;
    height:90px;
}

@media (max-width: 1200px) {
    .hidenav{
    display: none;
 } 
 .menu_button{
    display: block;
 }
 
}

@media (min-width:100px) and (max-width:1200px) {

.Search_main_items{
   
    color:white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    
    border: 3px solid white;
    border-radius: 30px;
    height:fit-content;
    width:95%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 5%;
     box-sizing: border-box;
}
.search_heading{
     font-family:  'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.search_item4{
    display: flex;
    
    flex-wrap: wrap;
    gap:20px;
    margin: 10px;
}

.search_books{
    background-color: rgba(0,0,0,0.5);
    width:230px;
    height:350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-top: 20PX;
    border-radius: 20px;
    gap:20px;
    box-sizing: border-box;
    padding: 35px;
    transition: transform 0.3s ease-out;
    margin-bottom: 40px;
   
}

.SI_i1{
    border: 2px solid white;
}
.search_image{
    height:200px;
    width:170px;
}
.SI_i2{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
}
}

 